global:
  scrape_interval: 5s
rule_files:
  - "/etc/prometheus/rules/*.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "url-shortener"
    static_configs:
      - targets: ["url-shortener-app:3000"]   # THIS FIXES THE ISSUE
