version: "3.8"
services:
  web:
    build: .
    image: hassanalisalama/url-shortener:V1.1.0
    container_name: url-shortener-app
    ports:
      - "3000:3000"
    volumes:
      - ./db:/app/db          
    environment:
      - PORT=3000
      - DB_FILE=/app/db/data.sqlite
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:v2.50.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - web
    restart: unless-stopped